* {
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}

header {
    background-image: url(../pictures/background.png);
    background-position: center;
    height: 100vh;
}

nav {
    background-color: #0000007a;
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: center; 

}

ul {
    margin-top: 1.3rem;
    list-style-type: none;
    margin-left: 25rem;
}

li {
    padding: 4rem;
    display: inline;
}