@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", serif;
}

div.separation {
  display: inline-block;
  /* Demander prof pour le block */
  background-color: rgb(210, 210, 210);
  width: 50%;
  height: 8px;
  border-radius: 1rem;
  margin-top: 1rem;
}

#sidebar {
  display: none;
}

header {
  background-image: url(../pictures/background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

header div h1,
header div h5 {
  transition: color 1s ease;
}

header div h1:hover,
header div h5:hover {
  color: black;
}

nav {
  background-color: rgba(208, 255, 0, 0.233);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: "Noto Sans", serif;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  position: relative;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

nav li a {
  display: flex;
  color: #000;
  text-decoration: none;
  padding: 5px;
  transition: all 0.3s ease;
}

nav li > a:hover:not(.dropdown-menu a) {
  display: flex;
  color: #ffffff;
  font-size: 3rem;
  transition: all 0.3s ease;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style: none;
  padding: 0;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul li:hover ul {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

nav ul li ul li {
  padding: 0.5rem 1rem;
  text-align: left;
}

nav ul li ul li a {
  left: 5rem;
  width: 100%;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

nav ul li ul li a:hover {
  background-color: orange;
  color: white;
}

header div {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}

header div h1 {
  flex: 1;
  text-align: center;
  font-size: 7.5rem;
  color: white;
}

header div h5 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
}

/* =|= Menue principal */
main {
  height: 140vh;
  background-color: white;
}

main div.separation {
  margin: 6rem 25% 0;
}

div.objectif {
  display: flex;
  width: 98%;
  height: 26rem;
  background-color: rgba(175, 175, 175, 0.37);
  margin: 5% 0 0 13px;
  border-radius: 2rem;
}

div.objectif div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65%;
  margin-top: 5%;
}

div.objectif div img {
  width: 15rem;
  height: 15rem;
}

div.objectif div p {
  color: black;
  font-size: 2rem;
}

div.objectif div p strong,
div.objectif div p u {
  display: inline-block;
  transition: transform 0.6s ease-in-out;
}

div.objectif div p strong {
  color: orange;
}

div.objectif div p u {
  color: #67d38c;
}

div.objectif div p strong:hover,
div.objectif div p u:hover {
  transform: translateY(-10px) scale(1.1);
}

main h2 {
  margin: 6% 34% 0;
  font-size: 3rem;
}

div.quinoussommes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  padding: 20px;
  border-radius: 2rem;
  box-shadow: 15px 20px rgba(255, 165, 0, 0.67);
  margin: 6rem 0 0 0.6rem;
  font-size: 1.2rem;
}

div.quinoussommes p,
div.quinoussommes ul {
  margin: 0 0 15px;
  padding-left: 20px;
}

div.quinoussommes ul li {
  margin-bottom: 10px;
}

div.quinoussommes ul li strong {
  color: orange;
  display: inline-block;
  transition: transform 0.6s ease-in-out;
}

div.quinoussommes ul li strong:hover {
  transform: translateY(-10px) scale(1.1);
}

/* =|= Footer */

footer {
  display: flex;
  background: linear-gradient(90deg, #3cc47c, #f58025);
  padding-bottom: 20px;
}

footer div {
  padding-left: 6.5rem;
  flex: 1;
  margin: 0 10px;
}

footer div a {
  color: black;
}

footer div a img {
  width: 30px;
  padding: 15px;
  margin-left: 10px;
  transition: transform 3s ease;
}

footer div a img:hover {
  transform: rotate(360deg);
}

/* =|= Responsive taille standard tel */

@media (max-width: 320px) {
  #sidebar {
    display: flex;
    position: fixed;
    width: 150px;
    background: rgb(232, 155, 0);
    left: -300px;
    top: -6rem;
  }

  #sidebar:hover {
    left: 0;
  }

  #sidebar ul li {
    list-style: none;
    font-size: 20px;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  #sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
  }
  #sidebar .bouton {
    position: fixed;
    bottom: 95.5%;
    left: 0;
    padding-left: 10px;
  }

  div.bouton span {
    width: 40px;
    height: 3px;
    background: #d4d4d4;
    margin-top: 4px;
    border-radius: 50px;
  }

  div.bouton span:nth-child(2) {
    width: 52px;
    height: 3px;
  }

  header {
    width: 100%;
  }

  nav ul li {
    height: 2rem;
  }

  nav ul li a {
    display: none;
  }

  /* =|= Header responsive */

  header {
    height: 60vh;
  }

  header div h1 {
    font-size: 2.2rem;
  }

  header div h5 {
    font-size: 1.2rem;
  }

  /* =|= objectif responsive */

  div.objectif {
    width: 92%;
    height: 30%;
  }

  div.objectif div {
    flex-direction: column;
    height: 75%;
  }

  div.objectif div img {
    width: 8rem;
    height: 8rem;
  }

  div.objectif div p {
    color: black;
    font-size: 1.1rem;
    margin-left: 5px;
  }

  div.objectif div p strong:hover,
  div.objectif div p u:hover {
    transform: translateY(-10px) scale(1.1);
  }

  /* =|= qui nous sommes responsive */

  main h2 {
    margin: 6% 5% 0;
    font-size: 1.8rem;
  }

  div.quinoussommes {
    width: 79%;
    height: 60%;
  }

  div.quinoussommes p,
  div.quinoussommes ul {
    font-size: 0.9rem;
  }

  /* =|= footer responsive */

  footer {
    width: 100%;
    margin-top: 15rem;
    padding: 0;
  }

  footer div {
    padding-left: 0;
    width: 4%;
    font-size: 0.6rem;
  }

  footer div a img {
    width: 10px;
    padding: 0px;
    padding-top: 8px;
    margin-left: 5px;
    transition: transform 3s ease;
  }
}
